<% content_for :model do %>
<p style="color: green"><%= notice %></p>
<div id="type_users"
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
      <h1 class="mt-4 text-center">Tipo de Usuario</h1>
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table me-1"></i>
          DataTable Tipo
        </div>
        <div class="card-body table-responsive">
          <table id="datatablesSimple" class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Tipo</th>
                <th>Descripción</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <% @type_users.each do |model| %>
              <tr>
                <td><%= model.id %></td>
                <td><%= model.name %></td>
                <td><%= model.description %></td>
                <td>
                  <%= link_to "show" , model ,class:"btn btn-primary" %>
               </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</div>
<%= link_to "Agregar", new_type_user_path,class:"btn btn-primary" %>
<% end %>
</div>