<%= form_with(model: user_bank) do |form| %>
  <% if user_bank.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_bank.errors.count, "error") %> prohibited this user_bank from being saved:</h2>

      <ul>
        <% user_bank.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Documento, style: "display: block" %>
    <%= form.text_field :number_document %>
  </div>

  <div>
    <%= form.label :Fecha_de_emisión_del_documento, style: "display: block" %>
    <%= form.date_field :document_issue_date %>
  </div>

  <div>
    <%= form.label :Fecha_de_vencimiento_del_documento, style: "display: block" %>
    <%= form.date_field :document_expiration_date %>
  </div>

  <div>
    <%= form.label :Nombre, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :Email, style: "display: block" %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :Telefono, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :Telefono_secundario, style: "display: block" %>
    <%= form.text_field :second_phone %>
  </div>
  <div>
    <%= form.label :Tipo_Documento, style: "display: block" %>
    <%= collection_select(:user_bank, :type_document_id, TypeDocument.all, :id, :name) %>
  </div>

  <div>
    <%= form.label :Tipo_Usuario, style: "display: block" %>
    <%= collection_select(:user_bank, :type_user_id, TypeUser.all, :id, :name) %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
