<div id="<%= dom_id user_bank %>">
  <p>
    <strong>Numero de Documento:</strong>
    <%= user_bank.number_document %>
  </p>

  <p>
    <strong>Fecha de Emision:</strong>
    <%= user_bank.document_issue_date %>
  </p>

  <p>
    <strong>Fecha de Vencimiento:</strong>
    <%= user_bank.document_expiration_date %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= user_bank.name %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= user_bank.email %>
  </p>
  <p>
    <strong>Telefono:</strong>
    <%= user_bank.phone %>
  </p>

  <p>
    <strong>Telefono Secundario:</strong>
    <%= user_bank.second_phone %>
  </p>

  <p>
    <strong>Tipo de Usuario:</strong>
    <%= user_bank.type_user.name %>
  </p>

  <p>
    <strong>Tipo de Documento:</strong>
    <%= user_bank.type_document.name %>
  </p>

</div>
