<div id="<%= dom_id user_bank %>">
  <p>
    <strong>Number document:</strong>
    <%= user_bank.number_document %>
  </p>

  <p>
    <strong>Document issue date:</strong>
    <%= user_bank.document_issue_date %>
  </p>

  <p>
    <strong>Document expiration date:</strong>
    <%= user_bank.document_expiration_date %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user_bank.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user_bank.phone %>
  </p>

  <p>
    <strong>Second phone:</strong>
    <%= user_bank.second_phone %>
  </p>

</div>
