<p style="color: green"><%= notice %></p>

<%= render @user_bank %>

<div>
  <%= link_to "Edit", edit_user_bank_path(@user_bank) %> |
  <%= link_to "Back", user_banks_path %>

  <%= button_to "Destroy", @user_bank, method: :delete %>
</div>
